results/

*.o

*.po

*.dep

*.swp
DRAMSim
libdramsim.so
*.opensdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
dramsim2/.vs/
dramsim2/Release/
dramsim2/dramsim2/Release/
dramsim2/Debug/
dramsim2/dramsim2/Debug/
dramsim2/dramsim2/faults/