results/

*.o

*.po

*.dep

*.swp
DRAMSim
libdramsim.so
*.opensdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
dramsim2\.vs\
Release\
Debug\